<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>725036274366-rddpk3hjk6vvqvm2su3gs31h82b15hpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725036274366-rddpk3hjk6vvqvm2su3gs31h82b15hpv</string>
	<key>API_KEY</key>
	<string>AIzaSyACCbV0gdPvxXxrXax5JZwCMPF9Ohn0T0c</string>
	<key>GCM_SENDER_ID</key>
	<string>725036274366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.mySnap</string>
	<key>PROJECT_ID</key>
	<string>mysnap-7b9be</string>
	<key>STORAGE_BUCKET</key>
	<string>mysnap-7b9be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:725036274366:ios:a0e46ceb577e6f7b</string>
	<key>DATABASE_URL</key>
	<string>https://mysnap-7b9be.firebaseio.com</string>
</dict>
</plist>